@tailwind base;
@tailwind components;
@tailwind utilities;


/* Modo Light */
body {
  @apply font-sans bg-lightBackground text-lightText;
}

/* Modo Dark */
.dark body {
  @apply bg-darkBackground text-darkTextLightElements;
}

select:focus,
select:focus-visible,
input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
}

grammarly-desktop-integration {
  display: none !important;
}
